*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.main-box {
    background: url(ab.webp);
    height: 100vh;
    background-size: cover;
}

.btn-one i {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar-menu {
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
    transition: all 0.3s linear;
}
.sidebar-menu .logo {
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
    height: 60px;

}

.sidebar-menu .logo a {
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar-menu .btn-two i {
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar-menu .menu {
    position: absolute;
    width: 100%;
    top: 80px;

}

.sidebar-menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar-menu .menu i,a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar-menu .menu i {
    padding-right: 8px;
}

.sidebar-menu .social-media {
    color: white;
    opacity: 0.5;
    position: absolute;
    left: 25%;
    bottom: 50px;
    
}
.sidebar-menu .social-media i {
    color: white;
    opacity: 0.5;
    padding: 0 5px;

}

#check {
    display: none;
}

.sidebar-menu .menu li:hover {
    box-shadow: 0 0 6px rgba(255,255,255,0.5);
}

.btn-one i:hover {
    font-size: 40px;
}
.btn-two i:hover {
    font-size: 30px;
}

.sidebar-menu .social-media i:hover {
    opacity: 2;
    transform: scale(1.2);
}

#check:checked ~ .sidebar-menu {
    left: 0;
}

#check:checked ~ .btn-one i {
    opacity: 0;
}
#check:checked ~ .sidebar-menu .btn-two i {
    opacity: 1;
}